.about.banner{
  height: 460px;
  color: #FFFFFF;
  background-color: #262626;
}

.banner .b80{
  width: 800px;
}

.banner-text{
  color: #FFFFFF;
  width: 430px;
}

.info-row{
  display: grid;
  grid-template-columns: 590px 568px;
  gap: 40px;
}

.info-row-img{
  position: relative;
}

.info-name{
  position: absolute;
  top: 16px;
  left: 16px;
  color: white;
}

.alina .info-name{
  color: black;
}

.vova .info-row-img{
  order: 5;
}

.info-row-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.spec{
  display: grid;
  grid-template-columns: 285px 285px 285px 285px;
  gap: 20px;
  margin-top: 60px;
}

.spec-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-title{
  width: 500px;
}

.form-inputs{
  display: flex;
  gap: 20px;
}

.form-block{
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-input{
  outline: none;
  border: none;
  width: 100%;
  padding: 16px 12px;
  border: 2px solid #262626;
}

.form-button{
  margin-top: 20px;
  width: 100%;
  background-color: #262626;
  height: 52px;
  border: none;
  outline: none;
  color: white;
}

@media (max-width: 375px) {
  .about.banner{
    padding: 24px;
    height: 300px;

    .banner-content{
      height: fit-content;
      gap: 15px;
      justify-content: start;
      width: 100%;

      .b80, .banner-text{
        width: 100%;
      }
    }
  }

  .info-row{
    display: flex;
    gap: 12px;
    flex-direction: column;
  }

  .info{
    gap: 20px;
  }

  .info-row-text{
    gap: 10px;
  }

  .vova .info-row-img{
    order: 0;
  }

  .spec{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .spec-info{
    gap: 12px;
  }

  .form-block{
    display: flex;
    flex-direction: column;
  }

  .form-inputs{
    flex-direction: column;
    gap: 8px;

  }

  .banner .b80{
    width: 100%;
  }

  .banner-text{
    width: 100%;
  }

}