.intro{
  margin-top: 40px;
}
.intro-footer{
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.intro-title{
  margin-top: 20px;
  margin-bottom: 20px;
}

.a-start-images{
  display: flex;
  gap: 20px;
}

.article{
  width: 835px;
  margin-left: auto;
}

.a-start, .a-find, .a-check{
  display: grid;
  gap: 40px;
}

.a-find{
  margin-top: 80px;
}

.a-start-point{
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 20px;
}

.where{
  margin-top: 12px;
  border: 1px solid #D9D9D9;
  border-radius: 16px;
}

.where-row{
  display: grid;
  grid-template-columns: 265px 568px;
  border-bottom: 1px solid #D9D9D9;
}

.where-row div:first-child{
  border-right: 1px solid #D9D9D9;
}

.where-row:last-child{
  border: none;
}

.where-row div{
  padding: 20px 20px;
}

.checklist{
  margin-top: 20px;
  margin-bottom: 40px;
  border: 5px solid #E8E2DA;
  padding: 20px;
  padding-bottom: 60px;
}

.checklist-top{
  display: flex;
  justify-content: space-between;
}

.checklist-icons{
  display: flex;
  gap: 12px;
}

.checklist-top-title{
  width: 205px;
}

.checklist-content{
  margin-top: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  row-gap: 24px;
}

.checklist-point{
  margin-bottom: 8px;
  display: flex;
  gap: 6px;
  align-items: center;
}

.a-check{
  margin-top: 80px;
}

.a-check-point{
  display: grid;
  gap: 16px;
}

.other{
  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 20px;
  padding: 8px;
  background-color: #E8E2DA;
}

.other-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.other-image{
  position: relative;
}

.other-image .card-tags{
  left: 8px;
}

.a-check-list-desc{
  margin-top: 12px;
  display: grid;
  grid-template-columns: 40px 550px;
  gap: 40px;
}

.ready-test{
  margin-top: 80px;
  background-color: #E8E2DA;
  padding: 24px;
  width: 100%;
  height: 154px;
  position: relative;
  display: grid;
  grid-template-columns: 454px;
}

.ready-test-icon{
  position: absolute;
  right: 24px;
  top: 24px;
}

.intro-banner{
  position: relative;
}

.intro-banner .card-tags{
  bottom: 16px;
  left: 16px;
  top: inherit;
  right: inherit;
}

.intro-banner-time{
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.a-start-title{
  margin-top: 80px;
}

.articl{
  margin-bottom: 40px;
}

@media (max-width: 375px) {
  .articl{
    margin-bottom: 40px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .intro-banner .card-tags{
    bottom: 8px;
    left: 8px;
  }

  .intro-banner-time{
    bottom: 8px;
    right: 8px;
  }

  .article{
    width: 327px;
    margin-right: auto;
  }

  .a-start-images{
    flex-direction: column;
  }

  .a-start, .a-find, .a-check{
    gap: 36px;
  }

  .a-start-title{
    margin-top: 64px;
  }

  .a-find, .a-check{
    margin-top: 0;
  }

  .where{
    border-radius: 0;
  }

  .where-row{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 12px;
  }

  .where-row div{
    padding: 0;
    border: none;
  }

  .where-row div:first-child{
    border-right: none;
  }

  .other{
    display: flex;
    flex-direction: column;
  }

  .a-check-list-desc{
    grid-template-columns: 22px 293px;
    gap: 12px;
  }

  .ready-test{
    display: block;
    height: 176px;
  }

  .ready-test-icon{
    width: 64px;
    height: 64px;
    top: inherit;
    right: 16px;
    bottom: 16px;
  }

  .intro{
    margin-top: 24px;
  }
}

.articl.chapter.house .chapter-top-title, .articl.chapter.house .chapter-top-link {
  color: #262626;
}