.checklist_article .banner-top-info{
  color: white;
}

.a-check-table{
  margin-top: 40px;
  display: grid;
  gap: 12px;
}

.a-house-list{
  padding: 32px;
  display: grid;
  gap: 24px;
  border: 2px solid #D9D9D9;
}

.a-house-list-p-title{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}