.top{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 330px 330px;
}

.top-left{
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  position: relative;
}

.left-title{
  left: 32px;
  top: 484px;
  color: white;
  position: absolute;
}

.friend{
  grid-column: 3 / 5;
  grid-row: 1;
}

.left-tags{
  left: 32px;
  top: 438px;
  position: absolute;
}

.friend{
  background-color: #E9A6C7;
  width: 100%;
  height: 100%;
  padding: 24px 24px;
  position: relative;
}

.friend-icon{
  position: absolute;
  right: 24px;
  bottom: 24px;
}

.solve{
  color: white;
  padding: 80px 40px;
  background-color: #262626;
  position: relative;
  padding-bottom: 40px;
}

.solve-title{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.solve-search{
  margin-top: 193px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 800px;
  height: 64px;
  z-index: 10;
}

.solve-input{
  padding: 20px;
  width: 800px;
  height: 64px;
  border: none;
  outline: none;
  background: white;
  font-size: 20px;
}

.solve-icon{
  width: 32px;
  height: 32px;
  position: absolute;
  top: 16px;
  right: 20px;
}

.solve-search-back{
  position: absolute;
  top: 208px;
  left: 191px;
}

.solve-chapters{
  display: flex;
  gap: 20px;
  align-items: end;
  margin-top: 32px;
}

.chapter-top{
  display: flex;
  justify-content: space-between;
}

.chapter-items{
  display: grid;
  margin-top: 20px;
  overflow: hidden;
  gap: 20px;
}

.house .chapter-items{
  grid-template-columns: 1fr 1fr 2fr;
}

.chapter.house{
  margin-top: 120px;
}

.chapter{
  margin-top: 80px;
  position: relative;
  z-index: 10;
}

.chapter-top-link{
  display: flex;
  align-items: center;
}

.house .chapter-top-title, .house .chapter-top-link{
  color: #E8E2DA;
}

.work .chapter-items{
  grid-template-columns: 2fr 1fr 1fr;
}

.work .chapter-top-title, .work .chapter-top-link{
  color: #EAC01B;
}

.doc .chapter-items{
  grid-template-columns: 1fr 2fr 1fr;
}

.doc .chapter-top-title, .doc .chapter-top-link{
  color: #E9A6C7;
}

.collection, video{
  margin-top: 80px;
}

.collection .chapter-items{
  grid-template-columns: 1fr 1fr;
}

.video .chapter-items{
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 285px 285px;
}

.video .big{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.checks .chapter-items{
  height: 550px;
}

.checks .chapter-items{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 265px 265px;
}

.checks .big-top{
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.checks .big-bot{
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.arrow-blue{
  position: absolute;
  top: 1405px;
  left: 216px;
  z-index: 5;
}

.arrow-yellow{
  position: absolute;
  top: 1845px;
  left: 523px;
  z-index: 5;
}

.arrow-pink{
  position: absolute;
  top: 2230px;
  left: 378px;
  z-index: 5;
}

@media (max-width: 375px) {

.arrow-blue{
  position: absolute;
  top: 1640px;
  left: 110px;
  z-index: 5;
}

.arrow-yellow{
  position: absolute;
  top: 2630px;
  left: 130px;
  z-index: 5;
}

.arrow-pink{
  position: absolute;
  top: 3750px;
  left: 170px;
  z-index: 5;
}

  .top{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 193px 300px;
  }

  .friend{
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 12px;
  }

  .top-left{
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .top .card:first-of-type{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .top .card:nth-child(2){
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .left-title{
    left: 0px;
    top: 224px;
    padding: 12px;
  }

  .friend-icon{
    right: 12px;
    bottom: 12px;
  }

  .left-tags{
    top: 12px;
    left: inherit;
    right: 12px;
  }

  .solve-title{
    width: 100%;
    text-align: center;
  }

  .solve-search{
    width: 100%;
    margin-top: 90px;
    height: 48px;
  }

  .solve-input{
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 100%;
  }

  .solve{
    padding: 24px;
    padding-top: 64px;
  }

  .solve-icon{
    width: 24px;
    height: 24px;
    top: 12px;
    right: 12px;
  }

  .solve-search-back{
    top: 105px;
    left: 17px;
  }

  .chapter-items{
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: fit-content;
  }

  .chapter.house{
    margin-top: 64px;
  }

  .video .chapter-items{
    width: 327px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px;
    height: auto;
    gap: 24px;
    overflow: auto;
    grid-template-rows: 1fr;
  }

  .checks .chapter-items{
    width: 327px;
    display: grid;
    height: auto;
    grid-template-columns: 300px 300px 300px 300px 300px 300px;
    overflow: auto;
    grid-template-rows: 1fr;
  }

  .checks .big-top, .checks .big-bot{
    grid-column: inherit;
    grid-row: inherit;
  }

}